@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 25px;    
}
.logo a{
    color: #000;
}
.logo a span{
    color: crimson;
}
.home-content{
    margin-top: 7%;
}
.home .home-content .text-1{
    font-size: 25px;
    margin-left: 29%;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    text-align: center;
}
.center{
    margin-top: 7%;
    display: flex;
    justify-content: center;
}
.btn{
    background-color: crimson;    
    border:none; 
    border-radius:10px;
    padding: 9px;
    height: 40px; 
    width: 120px;
    text-align: center;
    font-size: 20px;
}
a {
    color: #000;
}
.home-content-2{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ref-btn1{
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 130px;
    text-align: center;
    padding: 9px;
    
}
.ref-btn2{
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 130px;
    text-align: center;
    padding: 9px;
    margin-left: 150px;
}
.ref-btn3{
    background-color: crimson;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 130px;
    text-align: center;
    padding: 9px;
    margin-left: 150px;
}
.footer{
    font-size: 15px;
    margin-top: 75px;
    text-align: center;
}
.footer a span{
    color: crimson;
    font-size: 20px;
}
.typing{
    font-size: 45px;
}
.container{
    width: 400px;
    overflow: hidden;
    margin-left: 29%;
}
.container .text{
    position: relative;
    color: crimson;
    font-size: 40px;
    font-weight: 500;
}
.container .text.first-text{
    color: #000;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    border-left: 2px solid crimson;
    animation: animate 4s steps(20) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}